.timer {
  font-size: 10vw;
  font-family: monospace;
  user-select: none;
  margin-bottom: 5%;
}
@media only screen and (max-width: 1000px) {
  .timer {
    font-size: 16vw;
  }
}

@media only screen and (max-width: 600px) {
  .timer {
    font-size: 25vw;
  }
}

.timerInput::-webkit-outer-spin-button,
.timerInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.timerInput {
  -moz-appearance: textfield;
  width: 28vw;
  max-width: fit-content;
}
