.timer {
  font-size: 10vw;
  font-family: monospace;
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 1000px) {
  .timer {
    font-size: 16vw;
  }
}

@media only screen and (max-width: 600px) {
  .timer {
    font-size: 25vw;
  }
}
