.scramble {
  white-space: pre-wrap;
  text-align: center;
  word-spacing: 50%;
}

.scrambleChoice {
  font-size: 1.3em;
  background-color: #e6e6e6;
  text-align: center;
  border-radius: 25px;
  padding-left: 14px;
  border: none;
}

.scrambleChoiceDark {
  font-size: 1.3em;
  background-color: #302e2c;
  text-align: center;
  color: white;
  text-align: center;
  border-radius: 25px;
  padding-left: 14px;
  border: none;
}
