.average {
  cursor: pointer;
  user-select: none;
}

.averageOfFive,
.averageOfTwelve {
  font-size: 2vw;
  font-family: monospace;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
  .averageOfFive,
  .averageOfTwelve {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 600px) {
  .averageOfFive,
  .averageOfTwelve {
    font-size: 6vw;
  }
}
